.AllSnacksPage {
	margin: 5%;
	margin-top: 150px;
}

.AllSnacks {
	background-color: #fffcf2;
	padding: 25px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
}

a.snack-card {
	text-decoration: none;
}

.snack-card img {
	height: 300px;
	width: 300px;
	border-radius: 3px;
	margin-bottom: 20px;
}

.Snack {
	width: fit-content;
	grid-column: span 1;
	margin: 15px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 2px 10px rgb(85, 85, 85);
	border-radius: 3px;
	color: #eb5e28;
	transition: all 0.5s ease;
}

.Snack:hover {
	transform: scale(1.1);
	color: #eb5e28;
	z-index: 0;
}

.Snack p h4 {
	margin: 0;
	font-size: 1em;
	text-align: center;
}

.snack-card p {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
h4 .Heart {
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

article.Snacks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}

article.Snacks div {
	width: 150px;
	padding: 1em;
	background-color: rgb(255, 252, 242);
}
article.Snacks img {
	width: 150px;
	padding: 1em;
	background-color: rgb(255, 252, 242);
}

@media all and (max-width: 1283px) {
	.AllSnacks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media all and (max-width: 890px) {
	.AllSnacks {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media all and (max-width: 790px) {
	.snack-card {
		margin-left: -11px;
	}
}

@media all and (max-width: 700px) {
	.snack-card {
		margin-left: -19px;
	}
}
